

body{
    background-color: #cfcfcf;
}

#inspirationalAuthor{
    margin-left: 20px;
}

#quoteContainer{
    margin-left: 20px;
}

.hideText{
    background:black;
    color:black";
}

.attention{
    animation: blink 2s infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}